/*Font*/
@font-face {
  font-family: "LINE Seed JP_OTF Regular";
  src: url("../font/LINESeedJP_OTF_Rg.woff2") format("woff2");
}

.material-icons-outlined {
  font-size: 13px;
}

body {
  font-family: "LINE Seed JP_OTF Regular", sans-serif;
  color: white;
  background-color: green;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.icon_img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
